.button-primary,
.button-primary:hover,
.button-primary:focused {
    -fx-border-color: transparent;
    -fx-background-color: -primary;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}

.button-primary .mfx-ripple-generator {
    -mfx-ripple-color: rgba(255, 255, 255, 0.5);
    -mfx-auto-clip: true;
}

.button-bordered,
.button-bordered:hover,
.button-bordered:focused {
    -fx-border-color: -primary;
    -fx-border-radius: 30;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-text-fill: -primary;
    -fx-padding: 10 20;
}

.button-bordered .mfx-ripple-generator {
    -mfx-ripple-color: -primary-50;
    -mfx-auto-clip: true;
}

.button-secondary,
.button-secondary:hover,
.button-secondary:focused {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: -secondary;
    -fx-text-fill: whitesmoke;
    -fx-padding: 10 70;
}

.button-secondary .mfx-ripple-generator {
    -mfx-ripple-color: derive(-secondary, 70%);
    -mfx-auto-clip: true;
}

.button-cancel,
.button-cancel:hover,
.button-cancel:focused {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-background-color: transparent;
    -fx-text-fill: -secondary;
    -fx-padding: 10 70;
}

.button-cancel:hover,
.button-cancel:focused {
    -fx-text-fill: whitesmoke;
    -fx-background-color: derive(gray, 10%);
}

.button-cancel .mfx-ripple-generator {
    -mfx-ripple-color: derive(gray, 40%);
    -mfx-auto-clip: true;
}

.button-blue {
    -fx-background-color: #4444ff;
}

.button-blue:focused {
    -fx-background-color: derive(#4444ff, -20%);
}

.button-ripple-blue .mfx-ripple-generator {
    -mfx-ripple-color: #0000ff77;
    -mfx-auto-clip: true;
}

.button-green {
    -fx-background-color: #32CD32;
}

.button-green:focused {
    -fx-background-color: derive(#32CD32, -20%);
}

.button-red {
    -fx-background-color: #ff4444;
}

.button-red:focused {
    -fx-background-color: derive(#ff4444, -20%);
}

.button-ripple-red .mfx-ripple-generator {
    -mfx-ripple-color: #ff000077;
    -mfx-auto-clip: true;
}

.button-gray {
    -fx-background-color: #707070;
}

.button-gray:focused {
    -fx-background-color: derive(#707070, -20%);
}

.button-ripple-gray .mfx-ripple-generator {
    -mfx-ripple-color: #707070aa;
    -mfx-auto-clip: true;
}

.button-blue,
.button-blue:hover,
.button-blue:focused,
.button-green,
.button-green:hover,
.button-green:focused,
.button-red,
.button-red:hover,
.button-red:focused,
.button-gray,
.button-gray:hover,
.button-gray:focused {
    -fx-text-fill: whitesmoke;
    -fx-background-radius: 7;
}

.button-blue MFXFontIcon,
.button-green MFXFontIcon,
.button-red MFXFontIcon,
.button-gray MFXFontIcon {
    -mfx-color: whitesmoke;
}

.button-circle,
.button-circle:hover,
.button-circle:focused {
    -fx-background-radius: 17;
    -fx-padding: 10;
}

