.button-primary,
.button-primary:hover,
.button-primary:focused {
    -fx-border-color: transparent;
    -fx-background-color: -primary;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}

.button-primary .mfx-ripple-generator {
    -mfx-ripple-color: rgba(255, 255, 255, 0.5);
    -mfx-auto-clip: true;
}

.button-bordered,
.button-bordered:hover,
.button-bordered:focused {
    -fx-border-color: -primary;
    -fx-border-radius: 30;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-background-radius: 30;
    -fx-text-fill: -primary;
    -fx-padding: 10 20;
}

.button-bordered .mfx-ripple-generator {
    -mfx-ripple-color: -primary-50;
    -mfx-auto-clip: true;
}