@import 'colors.css';
@import 'button.css';
@import 'field.css';
@import 'toggle.css';
@import 'date.css';
@import 'textarea.css';

.rootPane {
    -fx-background-color: -secondary;
}

.box-white {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.box {
    -fx-background-color: -secondary;
    -fx-background-radius: 20;
}

.box Text {
    -fx-fill: whitesmoke;
}

.menu-bar {
    -fx-background-color: whitesmoke;
    -fx-border-width: 0 0 0.4 0;
    -fx-border-style: solid;
    -fx-border-color: -secondary;
    -fx-padding: 2.5;
}

.menu-bar .menu {
    -fx-padding: 2 10;
}

.menu-bar .menu-item {
    -fx-padding: 5 7;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing,
.menu-bar .menu:selected,
.menu-bar .menu:focused,
.menu-bar .menu-item:hover,
.menu-bar .menu-item:selected,
.menu-bar .menu-item:focused {
    -fx-background-color: -primary-gradient;
    -fx-background-radius: 4;
}

.menu-bar .context-menu {
    -fx-background-radius: 0 0 4 4;
}

.sidebar {
    -fx-background-color: -secondary-gradient;
    -fx-background-radius: 0 0 20 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 20, 0, 4, 7);
}

.sign-out,
.sign-out:focused {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-padding: 10 20;
    -fx-graphic-text-gap: 20;
    -fx-alignment: baseline-left;
}

.sign-out MFXFontIcon {
    -mfx-color: white;
}

.sign-out:hover {
    -fx-background-color: rgb(255, 59, 59);
}

#table .mfx-ripple-generator {
    -mfx-paused: true;
}

.list .mfx-list-cell,
.list .virtual-flow,
.list .virtual-flow .mfx-list-cell:hover,
.list .virtual-flow .mfx-list-cell:selected   {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.list MFXFontIcon  {
    -mfx-color: whitesmoke;
}

.list Label {
    -fx-font-family: "Open Sans Regular";
	-fx-text-fill: whitesmoke;
    -fx-pref-width: 1000000;
}

.list Text {
    -fx-fill: whitesmoke;
    -fx-font-smoothing-type: lcd;
}

.list .virtual-flow .mfx-list-cell .mfx-ripple-generator {
	-mfx-paused: true;
}