.mfx-rectangle-toggle-node {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.mfx-rectangle-toggle-node Text,
.mfx-rectangle-toggle-node:hover:selected Text {
	-fx-font-size: 17;
	-fx-fill: white;
}

.mfx-rectangle-toggle-node MFXFontIcon,
.mfx-rectangle-toggle-node:hover:selected MFXFontIcon {
	-mfx-size: 25;
	-mfx-color: white;
}

.mfx-rectangle-toggle-node:hover {
	-fx-background-color: white;
}

.mfx-rectangle-toggle-node:hover Text {
	-fx-fill: -secondary;
}

.mfx-rectangle-toggle-node:hover MFXFontIcon {
	-mfx-color: -secondary;
}

.mfx-rectangle-toggle-node:selected,
.mfx-rectangle-toggle-node:hover:selected,
.mfx-rectangle-toggle-node:focused:selected {
	-fx-background-color: -primary;
	-fx-background-radius: 0 20 20 0;
	-fx-border-color: transparent;
}

.mfx-rectangle-toggle-node HBox {
	-fx-padding: 10 20;
}

.mfx-rectangle-toggle-node .mfx-ripple-generator {
	-mfx-animation-speed: 1.4;
	-mfx-paused: false;
}

.mfx-toggle-button {
	-mfx-main: -primary;
	-mfx-secondary: gray;
	-fx-text-fill: #000000;
}

.mfx-toggle-button .mfx-ripple-generator {
	-mfx-ripple-color: -primary;
}